build/
*.pyc
doc/_build/*

.idea/*
cadquery.egg-info/
target/*
.vscode
MANIFEST
out.*
res?.dxf
.~*
assy.wrl
assy.xml
assy.zip
nested.step
simple.caf
simple.step
simple.stp
simple.xml
test.brep
ncadquery.egg-info/top_level.txt
ncadquery.egg-info/SOURCES.txt
ncadquery.egg-info/PKG-INFO
ncadquery.egg-info/not-zip-safe
ncadquery.egg-info/dependency_links.txt
